// 暗色
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

:root {
  --el-color-primary: #26ccc2; /* 亮色主题色 */
  --titlebar-icon-color: #999;
  --titlebar-icon-hover: #000;
  --progress-text: #000;
  --targe-path-color: #000;
  --info-icon-color: #C2CCD0;
  --titlebar-bg: #fff;
  --titlebar-text: #666;
  --file_loding_bg: rgba(0, 0, 0, 0.4);
  --file_loding_text: rgba(0, 0, 0, 0.8);
}

html, body {
  background-color: #fff;
  margin: 0;
  padding: 0;
}

html.dark {
  /* 暗主题色 */
  --el-color-primary: #547792;
  --titlebar-icon-color: #6b6b6b;
  --titlebar-icon-hover: #fff;
  --targe-path-color: #fff;
  --progress-text: #fff;
  --info-icon-color: #C2CCD0;
  --titlebar-bg: #141414;
  --titlebar-text: #e5e5e5;
  --file_loding_bg: rgba(255, 255, 255, 0.4);
  --file_loding_text: rgba(255, 255, 255, 0.8);
}

html.dark,
html.dark body {
  background-color: #141414;
}

